<app-tabs>
    <app-tab [title]="'People'">
        <h3>Lista de pessoas</h3>
        <app-people-list [people]="people" (addPerson)="onAddPerson()" (editPerson)="onEditPerson($event)"></app-people-list>
        <hr />
        <button class="btn btn-default" (click)="onOpenAbout()"><i class="glyphicon glyphicon-question-sign"></i> Sobre isso</button>
    </app-tab>
</app-tabs>

<ng-template let-person="person" #personEdit>
    <app-person-edit [person]="person" (savePerson)="onPersonFormSubmit($event)"></app-person-edit>
</ng-template>
<ng-template #about>
    <p>
        Hi, I hope this demo was useful to learn more about dynamic components in Angular, in specific about <code>ViewContainerRef</code>,
        <code>ComponentResolverFactory</code> etc.
    </p>
    <p>
        Also check out the <a href="https://juristr.com/blog/2017/07/ng2-dynamic-tab-component/">according blog article</a>. You may also want to read the <a href="https://juristr.com/blog/2016/02/learning-ng2-creating-tab-component/">article about
    creating basic tabs with <code>@ContentChildren</code> and <code>@QueryList</code></a>.
    </p>
    <p>
        Visit me on <a href="https://twitter.com/juristr">Twitter</a> or on <a href="https://juristr.com/blog">blog</a>.
    </p>
</ng-template>